@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

:root {
  --yellow: #ddfc1e;
  --light-green: #3fc641;
  --green: #2ecb89;
  --background: #0c0c0c;
  --secondary-background: #111111;
  --red: #f00e0e;
  --red-cake: #ea4656;
  --white: #f6f6f6;
  --light-gray: #b5b5b5;
  --gray: #686868;
  --mid-gray: #3c3c3c;
  --dark-gray: #131313;
  --light-blue: #2ea5cb;
  --purple: #732ecb;
  --blue: #027afe;
  --pink: #c72fcb;
  --black: #000000;
  --orange: #ffa807;

  --font-poppins: 'Poppins', sans-serif;
  --font-suse: 'SUSE', sans-serif;

  --tablet-size: 768px;
  --mobile-size: 425px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: var(--background);
  display: block;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
