.bodyContainer {
  display: flex;
  height: 100%;
  margin-bottom: 4rem;
}

.sideMenuPlaceholder {
  height: calc(100vh - 10rem);
  width: 6rem;
}

.body {
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.5fr;
  gap: 2rem;
}
@media (max-width: 1150px) {
  .body {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 0.4fr 1fr;
  }
}
@media (max-width: 830px) {
  .body {
    display: flex;
    flex-direction: column;
  }
}

.mainTitle {
  font-family: var(--font-suse);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--dark-gray);
  border-radius: 1rem;
}

.sectionTitle {
  font-family: var(--font-suse);
  font-size: 1.6rem;
  color: var(--white);
  margin-bottom: 1rem;
}

.actuatorControls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.actuatorControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.actuatorTitle {
  color: var(--light-gray);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
}

.slider .timerConfig {
  width: 50%;
}

.spanColumn2 {
  grid-column: span 2;
}
@media (max-width: 1150px) {
  .spanColumn2 {
    grid-column: span 1;
  }
}

.spanRow2 {
  grid-row: span 2;
}
@media (max-width: 1150px) {
  .spanRow2 {
    grid-row: span 1;
  }
}

.autoModeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.autoModeContainer span {
  color: var(--light-gray);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
}

.autoModeContainer span {
  color: var(--light-gray);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
}

.tag {
  color: var(--light-gray);
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 500;
}

.stepper {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 2rem;
  gap: 1rem;
}

.updateTimersBtn {
  width: 100%;
  padding: 0.8rem 1.6rem;
  background-color: var(--white);
  border: none;
  border-radius: 1rem;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  color: var(--black);
  cursor: pointer;
  margin-top: 2rem;
}
