.footer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  width: 100%;
  background-color: var(--gray);
  color: var(--white);
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  bottom: 0;
}
