.toggleBtn {
  background-color: var(--red);
  border: none;
  border-radius: 99px;
  width: 10rem;
  height: 4.8rem;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
}
.toggleBtn.toggled {
  background-color: var(--green);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggleBtn .thumb {
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--white);
  border-radius: 50%;
  top: 0.5rem;
  left: 0.5rem;
  transform: translateX(0);
  transition: all 0.3s ease;
}
.toggleBtn:hover .thumb {
  filter: brightness(0.9);
}

.toggleBtn.toggled .thumb {
  left: calc(10rem - 4.4rem);
}

.msg {
  color: var(--white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: var(--font-poppins);
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.msg.on {
  left: 20%;
  opacity: 0;
}
.toggleBtn.toggled .msg.on {
  opacity: 1;
}

.msg.off {
  right: 20%;
  opacity: 1;
}
.toggleBtn.toggled .msg.off {
  opacity: 0;
}
