.hero {
  background-color: #383838;
  color: white;
  padding: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.heroTextContainer {
  width: 50%;
}

.hero h1 {
  font-size: 4rem;
  font-family: var(--font-suse);
}

.hero p {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
  margin: 2rem 0;
}

.hero strong {
  font-weight: 600;
}
