.card {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 1.6rem;
  border-radius: 8px;
  min-width: 25rem;
  align-items: center;
}

.image {
  width: 10rem;
}

.title {
  font-family: var(--font-suse);
  margin-top: 1.2rem;
  font-size: 2.4rem;
  color: var(--white);
}

.description {
  font-family: var(--font-poppins);
  margin-top: 1rem;
  font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
  .card {
    min-width: 100%;
  }
}
