.inputField {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  font-family: var(--font-poppins);
  color: var(--white);
  font-size: 1.6rem;
}

.inputField label {
  margin-bottom: 0.5rem;
}

.inputField input {
  padding: 0.5rem 1rem;
  font-family: var(--font-poppins);
  background-color: var(--dark-gray);
  border-radius: 1rem;
  border: 0.2rem solid var(--gray);
  color: var(--white);
  font-size: 1.2rem;
  transition: border 0.3s ease;
}

.inputField input:focus {
  border: 0.2rem solid var(--light-green);
  outline: none;
}

.caption {
  font-size: 1rem;
  font-family: var(--font-poppins);
  color: var(--gray);
}

.button {
  padding: 1rem 2rem;
  font-family: var(--font-poppins);
  background-color: var(--light-green);
  border-radius: 1rem;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

.secondaryButton {
  padding: 1rem 2rem;
  margin-left: 1rem;
  font-family: var(--font-poppins);
  background-color: var(--gray);
  border-radius: 1rem;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

.secondaryButton:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}

.error {
  padding: 0.5rem 1rem;
  background-color: var(--red);
  color: white;
  font-family: var(--font-poppins);
  font-size: 1.2rem;
  border-radius: 1rem;
}

.hyperlink {
  font-family: var(--font-poppins);
  font-size: 1rem;
  color: var(--light-gray);
  text-decoration: none;
}
.hyperlink:hover {
  color: var(--light-green);
}
