.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: calc(100vh - 10rem);
}

.title {
  font-family: var(--font-suse);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.description {
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--white);
}

.button {
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  background-color: var(--light-green);
  border: none;
  border-radius: 0.4rem;
  width: 15rem;
  color: var(--white);
  transition: all 0.3s ease;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
