.bodyContainer {
  display: flex;
  height: 100%;
}

.sideMenuPlaceholder {
  height: calc(100vh - 10rem);
  width: 6rem;
}

.body {
  width: 100%;
  padding: 2rem;
}

.mainTitle {
  font-family: var(--font-suse);
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.deviceSection {
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow-y: auto;
  height: calc(100vh - 17.5rem);
  background-color: var(--black);
}
.deviceSection::-webkit-scrollbar {
  width: 6px;
  z-index: -1;
}
.deviceSection::-webkit-scrollbar-track {
  background: var(--dark-gray);
  border-radius: 8px;
}
.deviceSection::-webkit-scrollbar-thumb {
  background-color: var(--mid-gray);
  border-radius: 8px;
}
.deviceSection::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-green);
}

@media (max-width: 1350px) {
  .deviceSection {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .deviceSection {
    grid-template-columns: 1fr;
  }
}
